.background {
    background-color: rgb(250, 250, 250);
}

.main-heading {
    font-weight: normal
    /*potentially a font*/
}

.subheader {
    font-weight: bold;
}

.body {
    border: 2px solid white;
    background-color: white;
    filter: drop-shadow(0px 0px 2px gray);
    border-radius: 5px;
    margin: 7px;
}

.procedure_history_box {
    margin: 2px; /*subject to change*/
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(203, 229, 255);
    /*margin-left: 2px;  /*subject to change*/
    /*border-radius: 4px;*/
    /* maybe standard for height ::: min-height: 5~10px*/

}

.procedure_history_box:hover {
    background-color: lightgray;
    color: white;
  }
